<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * CheckItOut extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   EcomDev
 * @package    EcomDev_CheckItOut
 * @copyright  Copyright (c) 2011 EcomDev BV (http://www.ecomdev.org)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Ivan Chepurnyi <ivan.chepurnyi@ecomdev.org>
 */
-->
<config>
    <modules>
        <EcomDev_CheckItOut>
            <version>0.1.0</version>
        </EcomDev_CheckItOut>
    </modules>
    <global>
        <blocks>
            <ecomdev_checkitout>
                <class>EcomDev_CheckItOut_Block</class>
            </ecomdev_checkitout>
        </blocks>
        <helpers>
            <ecomdev_checkitout>
                <class>EcomDev_CheckItOut_Helper</class>
            </ecomdev_checkitout>
        </helpers>
        <models>
            <ecomdev_checkitout>
                <class>EcomDev_CheckItOut_Model</class>
            </ecomdev_checkitout>
        </models>
        <resources>
            <ecomdev_checkitout_setup>
                <setup>
                    <module>EcomDev_CheckItOut</module>
                    <class>EcomDev_CheckItOut_Model_Mysql4_Setup</class>
                </setup>
            </ecomdev_checkitout_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <customer_comment><to_order>*</to_order></customer_comment>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <EcomDev_CheckItOut>
                    <files>
                        <default>EcomDev_CheckItOut.csv</default>
                    </files>
                </EcomDev_CheckItOut>
            </modules>
        </translate>
        <layout>
            <updates>
                <ecomdev_checkitout>
                    <file>ecomdev/checkitout.xml</file>
                </ecomdev_checkitout>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <ecomdev_checkitout>
                    <file>ecomdev/checkitout.xml</file>
                </ecomdev_checkitout>
            </updates>
        </layout>
        <translate>
            <modules>
                <EcomDev_CheckItOut>
                    <files>
                        <default>EcomDev_CheckItOut.csv</default>
                    </files>
                </EcomDev_CheckItOut>
            </modules>
        </translate>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <ecomdev_checkitout before="Mage_Checkout">EcomDev_CheckItOut</ecomdev_checkitout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <EcomDev_CheckItOut />
            </modules>
        </suite>
    </phpunit>
    <default>
        <ecomdev_checkitout>
            <settings>
                <confirm_type>popup</confirm_type>
                <confirm_text><![CDATA[I have reviewed my order and confirm that all information is correct]]></confirm_text>
            </settings>
        </ecomdev_checkitout>
    </default>
</config>
