<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * CheckItOut extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement for EcomDev Premium Extensions.
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.ecomdev.org/license-agreement
 *
 * @category   EcomDev
 * @package    EcomDev_CheckItOut
 * @copyright  Copyright (c) 2013 EcomDev BV (http://www.ecomdev.org)
 * @license    http://www.ecomdev.org/license-agreement  End User License Agreement for EcomDev Premium Extensions.
 * @author     Ivan Chepurnyi <ivan.chepurnyi@ecomdev.org>
 */
-->
<config>
    <modules>
        <EcomDev_CheckItOut>
            <version>0.1.1</version>
            <codeVersion>1.5.3</codeVersion>
        </EcomDev_CheckItOut>
    </modules>
    <global>
        <blocks>
            <ecomdev_checkitout>
                <class>EcomDev_CheckItOut_Block</class>
            </ecomdev_checkitout>
        </blocks>
        <helpers>
            <ecomdev_checkitout>
                <class>EcomDev_CheckItOut_Helper</class>
            </ecomdev_checkitout>
        </helpers>
        <models>
            <ecomdev_checkitout>
                <class>EcomDev_CheckItOut_Model</class>
                <resourceModel>ecomdev_checkitout_mysql4</resourceModel>
            </ecomdev_checkitout>
            <ecomdev_checkitout_mysql4> <!-- Supposed to use old node, since still backward compatible on 1.4-1.5 :( -->
                <class>EcomDev_CheckItOut_Model_Mysql4</class>
                <entities>
                    <geoip_country><table>ecomdev_checkitout_geoip_country</table></geoip_country>
                    <geoip_location><table>ecomdev_checkitout_geoip_location</table></geoip_location>
                    <geoip_location_block><table>ecomdev_checkitout_geoip_location_block</table></geoip_location_block>
                </entities>
            </ecomdev_checkitout_mysql4>
        </models>
        <resources>
            <ecomdev_checkitout_setup>
                <setup>
                    <module>EcomDev_CheckItOut</module>
                    <class>EcomDev_CheckItOut_Model_Mysql4_Setup</class>
                </setup>
            </ecomdev_checkitout_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <customer_comment><to_order>*</to_order></customer_comment>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <EcomDev_CheckItOut>
                    <files>
                        <default>EcomDev_CheckItOut.csv</default>
                    </files>
                </EcomDev_CheckItOut>
            </modules>
        </translate>
        <layout>
            <updates>
                <ecomdev_checkitout>
                    <file>ecomdev/checkitout.xml</file>
                </ecomdev_checkitout>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_layout_render_before_checkout_onepage_index>
                <observers>
                    <ecomdev_checkitout>
                        <model>ecomdev_checkitout/observer</model>
                        <method>replacePrototypeLibrary</method>
                    </ecomdev_checkitout>
                </observers>
            </controller_action_layout_render_before_checkout_onepage_index>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <ecomdev_checkitout>
                        <model>ecomdev_checkitout/observer</model>
                        <method>redirectShoppingCartToCheckout</method>
                    </ecomdev_checkitout>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_onepage_saveOrder>
                <observers>
                    <ecomdev_checkitout>
                        <model>ecomdev_checkitout/observer</model>
                        <method>preDispatchSaveOrderAction</method>
                    </ecomdev_checkitout>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveOrder>
            <checkout_onepage_controller_success_action>
                <observers>
                    <ecomdev_checkitout>
                        <model>ecomdev_checkitout/observer</model>
                        <method>orderSuccessAction</method>
                    </ecomdev_checkitout>
                </observers>
            </checkout_onepage_controller_success_action>
            <!-- SagePay Suite Compatibility Events -->
            <controller_action_predispatch_sagepaysuite_payment_onepageSaveOrder>
                <observers>
                    <ecomdev_checkitout>
                        <model>ecomdev_checkitout/observer</model>
                        <method>preDispatchSaveOrderAction</method>
                    </ecomdev_checkitout>
                </observers>
            </controller_action_predispatch_sagepaysuite_payment_onepageSaveOrder>
            <checkout_cart_add_product_complete>
                 <observers>
                    <ecomdev_checkitout>
                        <model>ecomdev_checkitout/observer</model>
                        <method>cardAddComplete</method>
                    </ecomdev_checkitout>
                </observers>
            </checkout_cart_add_product_complete>
            <ecomdev_checkitout_js_get_steps_json_before>
                <observers>
                    <ecomdev_checkitout>
                        <class>ecomdev_checkitout/observer</class>
                        <method>addMissingBlocks</method>
                    </ecomdev_checkitout>
                </observers>
            </ecomdev_checkitout_js_get_steps_json_before>
        </events>
        <layout>
            <updates>
                <ecomdev_checkitout>
                    <file>ecomdev/checkitout.xml</file>
                </ecomdev_checkitout>
            </updates>
        </layout>
        <translate>
            <modules>
                <EcomDev_CheckItOut>
                    <files>
                        <default>EcomDev_CheckItOut.csv</default>
                    </files>
                </EcomDev_CheckItOut>
            </modules>
        </translate>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <ecomdev_checkitout before="Mage_Checkout">EcomDev_CheckItOut</ecomdev_checkitout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <ecomdev>
        <checkitout>
            <layout>
                <default translate="label" module="ecomdev_checkitout">
                    <label>Default Layout</label>
                    <handle>ecomdev_checkitout_layout_default</handle>
                </default>
                <two_columns translate="label" module="ecomdev_checkitout">
                    <label>Two Column Layout</label>
                    <handles>
                        <default>ecomdev_checkitout_layout_default</default>
                        <custom>ecomdev_checkitout_layout_two_column</custom>
                    </handles>
                </two_columns>
                <three_columns translate="label" module="ecomdev_checkitout">
                    <label>Three Column Layout</label>
                    <handles>
                        <default>ecomdev_checkitout_layout_default</default>
                        <custom>ecomdev_checkitout_layout_three_column</custom>
                    </handles>
                </three_columns>
            </layout>
            <css>
                <default translate="label" module="ecomdev_checkitout">
                    <label>Default Skin Style</label>
                    <css>
                        <base>css/ecomdev/checkitout/base.css</base>
                        <theme>css/ecomdev/checkitout/default.css</theme>
                    </css>
                </default>
                <blue translate="label" module="ecomdev_checkitout">
                    <label>Blue Skin Style</label>
                    <css>
                        <base>css/ecomdev/checkitout/base.css</base>
                        <theme>css/ecomdev/checkitout/blue.css</theme>
                    </css>
                </blue>

				<silver translate="label" module="ecomdev_checkitout">
                    <label>Silver</label>
                    <css>
                        <base>css/ecomdev/checkitout/base-theme.css</base>
                        <theme>css/ecomdev/checkitout/color-theme.css</theme>
                        <colortheme>css/ecomdev/checkitout/silver.css</colortheme>
                    </css>
                </silver>
                <green translate="label" module="ecomdev_checkitout">
                    <label>Green</label>
                    <css>
                        <base>css/ecomdev/checkitout/base-theme.css</base>
                        <theme>css/ecomdev/checkitout/color-theme.css</theme>
                        <colortheme>css/ecomdev/checkitout/green.css</colortheme>
                    </css>
                </green>
				<orange translate="label" module="ecomdev_checkitout">
                    <label>Orange</label>
                    <css>
                        <base>css/ecomdev/checkitout/base-theme.css</base>
                        <theme>css/ecomdev/checkitout/color-theme.css</theme>
                        <colortheme>css/ecomdev/checkitout/orange.css</colortheme>
                    </css>
                </orange>
				<grey translate="label" module="ecomdev_checkitout">
                    <label>Grey</label>
                    <css>
                        <base>css/ecomdev/checkitout/base-theme.css</base>
                        <theme>css/ecomdev/checkitout/color-theme.css</theme>
                        <colortheme>css/ecomdev/checkitout/grey.css</colortheme>
                    </css>
                </grey>
                <custom translate="label" module="ecomdev_checkitout">
                    <label>Custom Style</label>
                    <css>
                        <base>css/ecomdev/checkitout/base.css</base>
                    </css>
                </custom>
            </css>
            <compatibility>
                <!-- Compatibility definitions for extension code
                     template and code it is type of compatibility
                     v14 v15 are modes
                -->

                <template>
                    <v14>
                        <by_version>
                            <minVersion>1.4.0</minVersion>
                            <maxVersion>1.4.9</maxVersion>
                        </by_version>
                        <by_version_enterprise>
                            <enterprise>1</enterprise>
                            <minVersion>1.7.0</minVersion>
                            <maxVersion>1.9.9</maxVersion>
                        </by_version_enterprise>
                        <by_forced_config>
                            <minVersion>1.5.0</minVersion>
                            <configFlag>ecomdev_checkitout/settings/compatibility_templates</configFlag>
                        </by_forced_config>
                        <by_forced_config_enterprise>
                            <enterprise>1</enterprise>
                            <minVersion>1.10.0</minVersion>
                            <configFlag>ecomdev_checkitout/settings/compatibility_templates</configFlag>
                        </by_forced_config_enterprise>
                    </v14>
                    <v15>
                        <by_version>
                            <minVersion>1.5.0</minVersion>
                        </by_version>
                        <by_version_enterprise>
                            <enterprise>1</enterprise>
                            <minVersion>1.10.0</minVersion>
                        </by_version_enterprise>
                    </v15>
                </template>
                <code>
                    <v14>
                        <by_version>
                            <minVersion>1.4.0</minVersion>
                            <maxVersion>1.4.9</maxVersion>
                        </by_version>
                        <by_version_enterprise>
                            <enterprise>1</enterprise>
                            <minVersion>1.7.0</minVersion>
                            <maxVersion>1.9.9</maxVersion>
                        </by_version_enterprise>
                    </v14>
                    <v15>
                        <by_version>
                            <minVersion>1.5.0</minVersion>
                            <maxVersion>1.7.9</maxVersion>
                        </by_version>
                        <by_version_enterprise>
                            <enterprise>1</enterprise>
                            <minVersion>1.10.0</minVersion>
                            <maxVersion>1.12.0</maxVersion>
                        </by_version_enterprise>
                    </v15>
                    <v18>
                        <by_version>
                            <minVersion>1.8.0</minVersion>
                        </by_version>
                        <by_version_enterprise>
                            <enterprise>1</enterprise>
                            <minVersion>1.13.0</minVersion>
                        </by_version_enterprise>
                    </v18>
                </code>
                <js>
                    <v17>
                        <by_version>
                            <minVersion>1.7.0</minVersion>
                        </by_version>
                        <by_version_enterprise>
                            <enterprise>1</enterprise>
                            <minVersion>1.12.0</minVersion>
                        </by_version_enterprise>
                    </v17>
                </js>
            </compatibility>
            <!-- Hashing defintions for different steps in checkout
                 Created to minimize number of AJAX requests during checkout -->
            <steps>
                <shipping_method>
                    <handle>checkout_onepage_shippingmethod</handle>
                    <hash>
                        <rate>ecomdev_checkitout/hash_quote_address_rate</rate>
                    </hash>
                </shipping_method>
                <shipping_additional>
                    <handle>checkout_onepage_additional</handle>
                    <hash>
                        <item>ecomdev_checkitout/hash_quote_item</item>
                    </hash>
                </shipping_additional>
                <payment>
                    <handle>checkout_onepage_paymentmethod</handle>
                    <hash>
                        <method>ecomdev_checkitout/hash_quote_payment</method>
                        <item>ecomdev_checkitout/hash_quote_item</item>
                        <total>ecomdev_checkitout/hash_quote_total</total>
                    </hash>
                </payment>
                <review>
                    <handle>checkout_onepage_review</handle>
                    <hash>
                        <item>ecomdev_checkitout/hash_quote_item</item>
                        <total>ecomdev_checkitout/hash_quote_total</total>
                    </hash>
                </review>
            </steps>
        </checkitout>
    </ecomdev>
    <phpunit>
        <suite>
            <modules>
                <EcomDev_CheckItOut />
            </modules>
            <groups>
                <shell>Shell</shell> <!-- new group for running shell test -->
            </groups>
        </suite>
    </phpunit>
    <default>
        <ecomdev_checkitout>
            <settings>
                <confirm_type>popup</confirm_type>
                <confirm_text><![CDATA[I have reviewed my order and confirm that all information is correct]]></confirm_text>
                <stored_addresses>1</stored_addresses>
            </settings>
            <geoip>
                <use_region>1</use_region>
                <use_postcode>1</use_postcode>
                <use_city>1</use_city>
            </geoip>
            <default>
                <same_as_billing>1</same_as_billing>
            </default>
            <hidden>
                <shipping_method>0</shipping_method>
                <payment_method>0</payment_method>
                <coupon_code>1</coupon_code>
            </hidden>
            <design>
                <active>1</active>
                <layout>default</layout>
            </design>
        </ecomdev_checkitout>
    </default>
</config>
