/**
 * CheckItOut css
 * @depracated after 1.3.0
 */
.checkitout { }
.checkitout .layout-top { width: 100%; clear: both; }
.checkitout .layout-content { width: 62%; float: right; }
.checkitout .layout-content .layout-right-bottom .checkout-step { width: 100%; }
.checkitout .layout-content .layout-right-bottom  { clear: both; }
.checkitout .layout-address { width: 37%; float:left; }
.checkitout .layout-content .form-list .input-box, 
.checkitout .layout-address .form-list .input-box { width:225px;  margin-left: 0px; }
.checkitout .layout-address .form-list label { text-align: left; margin-left: 0px; }
.checkitout .checkout-step .buttons { text-align: right; padding-top: 20px; }
.checkitout .layout-content .form-list .field,
.checkitout .layout-address .form-list .field { width:50%; }
.checkitout .layout-address .form-list .wide { width:280px; }
.checkitout .layout-address .form-list .wide input.input-text, 
.checkitout .layout-content .form-list .wide input.input-text,
.checkitout .layout-content .form-list .wide select,
.checkitout .layout-address .form-list .wide select  { width:100%; }
.checkitout .layout-address .form-list input.input-text, 
.checkitout .layout-content .form-list input.input-text,
.checkitout .layout-content .form-list select,
.checkitout .layout-address .form-list select { width:100%; }
.checkitout .layout-content .form-list .v-fix { width:65px; }
.checkitout .layout-content .form-list .v-fix .validation-advice { width:65px; }
.checkitout .layout-content .form-list .v-fix select { width:62px; }
.checkitout .layout-content .layout-right-bottom .order-comments, 
.checkitout .layout-content .layout-right-bottom .order-comments .input-box { width: 100% }
.checkitout .layout-content .layout-right-bottom .order-comments textarea { width: 100%; height: 50px; }
.checkitout .checkout-step { position: relative; margin-bottom: 10px; }
.checkitout .layout-content .checkout-step { width: 49.2%; height: 100%; position: relative;}
.checkitout .layout-content div.first { float: left; clear: both; }
.checkitout .layout-content div.second { float: right; }
.checkitout .checkout-step .step-header { padding:4px 8px 6px; background-color:#f6f6f6; border:1px solid #ddd; padding-bottom:5px; cursor:default; }
.checkitout .checkout-step .checkout-step .step-header { background: none; border: none; padding: 0 0 0 0; }
.checkitout .checkout-step .step-header .number { float:left;background:#ddd; border-color:#ddd; color:#000; padding:0 4px; margin:0 5px 0 0; font:bold 11px/14px arial, helvetica, sans-serif; }
.checkitout .checkout-step .step-content  { border:1px solid #ddd; border-top:0; padding:15px 30px; position:relative; }
.checkitout .checkout-step .checkout-step .step-content  { border:none;  background: none; padding: 0 0 0 0; position:relative; }
.checkitout .checkout-step .buttons-set { display:none; }
.checkitout .layout-right-bottom .checkout-step .buttons-set { margin: 0 0 0 0; display:block; }
.checkitout .layout-right-bottom .checkout-step .empty { margin-bottom: 40px; }

.checkitout .checkout-step .step-loading { position: absolute; background-color: #fff; text-align: center; vertical-align: center;}
.checkitout .checkout-step .step-loading span { position: relative; top: 45%;}
.checkitout #payment-tool-tip { position: absolute; }
.checkitout .layout-top h1 { float:left; display:block; }
.checkitout .layout-top .page-title { overflow: visible; }
.checkitout #checkout-step-login { float:right; position: static !important;}
.checkitout #checkout-step-login .step-content { position: static !important; border:none; background: none; padding: 0 0 0 0;}
.checkitout #checkout-step-login .step-content .popup { width: 400px; position: absolute; left: -110px; top: -50px; z-index: 1000; }
.checkitout #checkout-step-login .step-content .popup .popup-title { padding:4px 8px 6px;  background-color:#f6f6f6; border:1px solid #ddd; padding-bottom:5px; }
.checkitout #checkout-step-login .step-content .popup .popup-title .popup-close { float:right; }
.checkitout #checkout-step-login .step-content .popup .popup-content { background: #fff; border:1px solid #ddd; border-top:0; padding:15px 30px; position:relative; }
.checkitout #checkout-step-login .step-content .popup .popup-content .button[type=submit] { float: right; }
.checkitout-checkout-loading { position: absolute; background-color: #fff; text-align: center; vertical-align: center; z-index: 2000;}
.checkitout-checkout-overlay { position: absolute; background-color: #fff; }
.checkitout-checkout-loading span { font-weight: bold; position: relative; top: 45%;}

.checkitout .btn-remove2 { display:block; width:16px; height:16px; font-size:0; line-height:0; background:url(../../images/btn_trash.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.checkitout #confirmation-window {  background: #fff; z-index: 3000; width: 800px; position: absolute !important; }
.checkitout #confirmation-window .buttons-set { display:block; }
.checkitout #confirmation-window .buttons-set .cancel { float: right; }
.checkitout #confirmation-window .buttons-set .confirm { float: left; }
.checkitout #confirmation-window .block { float: left; width: 47.5%; }
.checkitout #confirmation-window .block .block-content { padding: 5px 5px; }
.checkitout #confirmation-window .block-right { float: right; }
.checkitout #confirmation-window .block-wide { width: 100%; }

/** 
 *  Gift options block
 */
.checkitout .gift-message-form .inner-box h5, 
.checkitout .gift-message-form .inner-box h4,
.checkitout .gift-message-form .gift-message-form .inner-box p { padding: 0 10px; }
.checkitout .layout-content .gift-message-form .gift-item .form-list { padding: 0 0 0 20px; }
.checkitout .layout-content .gift-message-form .gift-item .form-list .field,
.checkitout .layout-content .gift-messages-form .item .form-list .field,
.checkitout .layout-content .gift-messages-form .whole-order .form-list .field,
.checkitout .layout-content .gift-messages-form .allow-gift-messages-for-order-container .form-list .field,
.checkitout .layout-content .gift-message-form .gift-item .form-list .input-box,
.checkitout .layout-content .gift-messages-form .item .form-list .input-box,
.checkitout .layout-content .gift-messages-form .whole-order .form-list .input-box,
.checkitout .layout-content .gift-messages-form .allow-gift-messages-for-order-container .form-list .input-box,
.checkitout .layout-content .gift-messages-form .item .details .form-list li.wide .input-box,
.checkitout .layout-content .gift-messages-form .whole-order .form-list li.wide .input-box,
.checkitout .layout-content .gift-messages-form .allow-gift-messages-for-order-container .form-list li.wide .input-box,
.checkitout .layout-content .gift-messages-form .item .details .form-list li.wide textarea,
.checkitout .layout-content .gift-messages-form .whole-order .form-list li.wide textarea,
.checkitout .layout-content .gift-messages-form .allow-gift-messages-for-order-container .form-list li.wide textarea,
.checkitout .layout-content .gift-messages-form .item .details .form-list input.input-text,
.checkitout .layout-content .gift-messages-form .allow-gift-messages-for-order-container .form-list input.input-text,
.checkitout .layout-content .gift-messages-form .whole-order .form-list input.input-text { width: 100%; }
.checkitout .layout-content .gift-message-form .gift-item .fieldset { background-image: none; }


.checkitout .layout-content .gift-message-form .gift-item .fieldset { background-image: none; }

.checkitout .layout-content .gift-message-form .fieldset .form-list .input-text,
.checkitout .layout-content .gift-message-form .fieldset .form-list textarea { width: 170px;}
.checkitout .layout-content .gift-messages-form textarea { height: 40px; }
.checkitout .layout-content .gift-message-form .form-list label,
.checkitout .layout-content .gift-message-form .form-list .input-box, 
.checkitout .gift-messages-form .item .product-img-box,
.checkitout .gift-messages-form .whole-order .field, 
.checkitout .gift-messages-form .item .details .vfix { float:none; }

.checkitout .gift-options-for-order,
.checkitout .gift-messages-form .inner-box {padding: 0 20px;}

.checkitout .gift-message-form .gift-item .fieldset,
.checkitout .gift-messages-form .item .fieldset { padding: 0 0 0 0; margin: 0 0 0 0; }
.checkitout .gift-message-form .gift-item .product-img-box,
.checkitout .gift-messages-form .item .product-img-box { background-image: none; }
.checkitout .gift-messages-form .item .details { margin: 0 0 0 0; }
