/**
 * CheckItOut default CSS
 *
 */

.checkitout a {
    color:#fff;
}

/** Button Styles **/
.checkitout .form-list button.button,
.popup button.button,
.page-title button.button,
#confirmation-window button.button {
    }

    .checkitout .form-list button.button span,
    .popup button.button span,
    .page-title button.button span {
        height:22px;
        padding: 0px 0px 0px 5px;

        background: url(../../../images/ecomdev/checkitout/road/bgbutton-small.png) 0 0 no-repeat;
        border:0;

        }
        .checkitout .form-list button.button:hover span,
        .popup button.button:hover span,
        .page-title button.button:hover span {
            background-position: left bottom;
        }

        .checkitout .form-list button.button span span,
        .popup button.button span span,
        .page-title button.button span span {
            color:#000;
            font-size:12px;

            line-height: 22px;
            padding:0 15px 0 10px;

            border:0;
            background-position: 100% 0;

            }
            .checkitout .form-list button.button:hover span span,
            .popup button.button:hover span span,
            .page-title button.button:hover span span {
                background-position: 100% 100%;
                }



/** Sizes for blue theme **/
.checkitout .checkout-right .form-list .input-box,
.checkitout .checkout-left .form-list .input-box { width:140px; }
.checkitout .checkout-right .form-list .field,
.checkitout .checkout-left .form-list .field { width:50%; }
.checkitout .checkout-left .form-list .wide { width:280px; }
.checkitout .checkout-left .form-list .wide input.input-text,
.checkitout .checkout-right .form-list .wide input.input-text,
.checkitout .checkout-right .form-list .wide select,
.checkitout .checkout-left .form-list .wide select  { width:260px; }
.checkitout .checkout-left .form-list input.input-text,
.checkitout .checkout-right .form-list input.input-text {
    width:120px;
    }
.checkitout .checkout-right .form-list .v-fix { width:65px; }
.checkitout .checkout-right .form-list .v-fix .validation-advice { width:65px; }
.checkitout .checkout-right .form-list .v-fix select { width:62px; }
.checkitout .checkout-right .form-list select,
.checkitout .checkout-left .form-list select {
    width:128px;
    -webkit-padding-end: 18px !important;
}

/** General Step Styles **/
.checkitout .checkout-step .step-header {
    background:#f2f2f2 url(../../../images/ecomdev/checkitout/road/step-header.png) 0 0 repeat-x;
    border:0;
    border-bottom: #ab8f20 solid 2px;
    color:#fff;
    font-weight: bold;
    position: relative;
    padding-left: 10px;
    }
.checkitout .checkout-step .step-header .number{
    color:#fff;
    background: none;
    margin-right:30px;
    margin-top:2px;
    margin-left: 5px;
    font-size: 16px;
    position: absolute;
    left:156px;
    }
    .checkitout .step-header:before {
        content:"";
        width:60px;
        height: 60px;
        display: block;
        position: absolute;
        right:0;
        top:-30px;
        background: transparent no-repeat;
        }
    #checkout-step-address-header:before {
        background-image:url(../../../images/ecomdev/checkitout/road/icons/icon-contacts.png);
        }
    #checkout-step-payment-header:before {
        background-image:url(../../../images/ecomdev/checkitout/road/icons/icon-dollar.png);
        }
    #checkout-step-shipping_method-header:before {
        background-image:url(../../../images/ecomdev/checkitout/road/icons/icon-shipping-method.png);
    }
    #checkout-step-promotions-header:before {
        background-image:url(../../../images/ecomdev/checkitout/road/icons/icon-coupon.png);
        right:100px;
    }

.checkitout .checkout-step .step-content  {
    border-color: #a3aeb3;
    background:url(../../../images/ecomdev/checkitout/road/bg.png);
    }
    .checkitout .checkout-step .step-content .step-header {
        padding-bottom: 10px;
        }
    .checkitout .checkout-step .step-content input,
    .checkitout .checkout-step .step-content select {
        padding:3px;
        }

/** Confirmation window **/
#confirmation-window .step-header  { background:#d0dce1; border-color: #a3aeb3; color:#555;}
#confirmation-window .step-header .number { background:#dbe6eb; border-color:#fff; color:#555;}
#confirmation-window .step-content  {
    border-color: #a3aeb3;  background:#fbfaf6 url(../../../images/ecomdev/checkitout/default/bkg_checkout.gif) 0 0 repeat-x;}

/**
 * Login PopUp
 */
#login-step-popup {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow:  0px 0px 10px 5px rgba(8, 8, 8, 0.3);
    box-shadow:  0px 0px 10px 5px rgba(8, 8, 8, 0.3);
    }
#login-step-popup .popup-title {
    border-color: #d1d1d1;
    background:#f2f2f2 url(../../../images/ecomdev/checkitout/silver/bgtitle.png) 0 0 repeat-x;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }
#login-step-popup .popup-content {
    position: relative;

    border-color: #d1d1d1;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    }
    #login-step-popup .popup-content p.required {
        position: absolute;
        top:10px;
        right:15px;
        }
    #login-step-popup .popup-content button.button{
        margin-top:10px;
        }

#login-step-popup .popup-title .popup-close span {
    border:0;
    background:url(../../../images/ecomdev/checkitout/silver/icons/cross.png) no-repeat center transparent;
    width:20px;
    height:20px;
    }
    #login-step-popup .popup-title .popup-close span span {
        display: none;
        }
    #login-step-popup .input-box {
        width: 100%;
        padding-right:15px;
        }
        #login-step-popup .input-box input {
            width:329px;
            }
    #login-step-popup input.input-text {
        padding:4px;
        }
/* Form Highlight */
input.input-text:focus,select:focus,textarea:focus {
    background-color:#505050;
    border: 1px solid #9c9c9c;
    color:#e4c514;
}

/* Step Content */
.step-content {
    color:#fff;
}
.step-content label {
    font-weight: bold;
    color:#fff;
    }
.step-content input {
    background: #676767;
    color:#fff;
}

/* Data Table */
.checkout-step-review .data-table {
    border: 0;
    border-right:0;
}
.checkout-step-review .data-table thead th {
    background: none;
    height:26px;
    line-height: 26px;
    border:0;
    color:#fff !important;
    color:#585858;
    }
.checkout-step-review .data-table tr {
    border:0;
}
.checkout-step-review .data-table tfoot tr {
    background-color: transparent !important;
}
.checkout-step-review .data-table tr td {
    background: none;
    color:#fff;
    border:0;
    padding-top:5px;
    padding-bottom:5px;
    }
.checkout-step-review .data-table tfoot tr td {
    color:#fff;
}
    .checkout-step-review .data-table tbody tr:hover td {
        cursor: default;

    }
        .checkout-step-review .data-table tr td.last {
            border:0;
            }
    .checkout-step-review .data-table tr td h3 {

        }
.checkout-step-review .data-table tfoot tr td {
    border:0;
    }
.checkout-step-review .data-table tfoot tr.first td {
    background: none !important;
    border:0;
    }
.checkitout .data-table tfoot strong {
    color:#f7be1b;
}
.checkitout #checkout-review-table-wrapper {
    background:url(../../../images/ecomdev/checkitout/road/bg2.png);
}

.checkitout .buttons-set {
    border: 0;
}

.checkitout .data-table tr {
    background: transparent;
    color:#fff5b0;
}
.checkitout .data-table h3 {
    color:#fff5b0;
}

.same-as-billing-overlay {
    background:url('../../../images/ecomdev/checkitout/silver/blocked.png');
    }

/* Button */
.checkitout button.btn-checkout {
    }
    .checkitout button.btn-checkout span {
        height:40px;
        padding: 0px 10px 0px 5px;

        background: url(../../../images/ecomdev/checkitout/road/button-big.png) left top no-repeat;
        border:0;
        }
        .checkitout button.btn-checkout:hover span {
            background-position: left bottom;
            }
        .checkitout button.btn-checkout span span {
            background-position: 100% 0;
            color:#000;
            }
        .checkitout button.btn-checkout:hover span span {
                background-position: right bottom;
                }


.checkitout .control label {
    padding-left: 20px;
    -moz-padding-start:0;
    -webkit-padding-start:0;
    -o-padding-start:0;
    padding-start:0;
}

.checkitout .sp-methods dt {
    color:#fff !important;
}
.checkitout .sp-methods label {
    -moz-padding-start:0;
    -webkit-padding-start:0;
    -o-padding-start:0;
    padding-start:0;
}

/* CSS3 */



.checkitout input[type="checkbox"] + label::before {
    vertical-align: middle;
}
.checkitout input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}
.checkitout input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    line-height: 15px;
    margin: 0 8px 4px 0;
    background: url("../../../images/ecomdev/checkitout/road/custom_checkbox.png") no-repeat 0 -15px;
    vertical-align: middle;
}
.checkitout input[type="checkbox"]:disabled + label {
    opacity: .5;
    cursor: default;
}
.checkitout input[type="checkbox"]:not(:checked):hover + label::before {
    background-position: 0 -15px;
}
.checkitout input[type="checkbox"]:checked + label::before {
    background-position: 0 0;
}
.checkitout input[type="checkbox"]:focus + label {
    outline: dotted 1px;
}



/*
.checkitout input[type="radio"] + label::before,
.checkitout input[type="radio"] + script + label::before{
    vertical-align: middle;
}
.checkitout input[type="radio"]{
    opacity: 0;
    position: absolute;
}
.checkitout input[type="radio"] + label::before,
.checkitout input[type="radio"] + script + label::before{
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    line-height: 13px;
    margin: 0 8px 0 0;
    background: url("../../../images/ecomdev/checkitout/road/icons/sprite-r.png") no-repeat 0 0;
    vertical-align: middle;
}
.checkitout input[type="radio"]:disabled + label,
.checkitout input[type="radio"]:disabled + script + label{
    opacity: .5;
    cursor: default;
}
.checkitout input[type="radio"] + label::before,
.checkitout input[type="radio"] + script + label::before{
    background-position: -13px 0;
}
.checkitout input[type="radio"]:hover + label::before,
.checkitout input[type="radio"]:hover + script + label::before{
    background-position: -13px -13px;
}
.checkitout input[type="radio"]:checked + label::before,
.checkitout input[type="radio"]:checked + script + label::before{
    background-position: -13px -26px;
    }
*/


.checkitout .input-box select {
    -webkit-appearance: button;
    -webkit-user-select: none;

    background-color: #676767;
    color:#fff !important;
    background-image: url(../../../images/ecomdev/checkitout/road/arrow-select.png);

    background-position: 95% 50%;
    background-repeat: no-repeat;

    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkout-step-login  {
    background: url(../../../images/ecomdev/checkitout/road/bg.png);
    padding:5px 15px;
}

.checkitout .required em {
    color: #ffbbbb !important;
}

.checkitout .validation-advice {
    color:#ffbbbb;
}
.checkitout .validation-failed {
    background: #6e1c18 !important;
    color:#fff;
}



.checkitout .checkout-step .step-header, .checkitout .checkout-step {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


.checkitout .checkout-step, .checkitout .step-content {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}